

<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::Copyright--> 
    <strong>
        Copyright &copy; 2025&nbsp;
        <a href="https://www.visionplus.com.pk/" class="text-decoration-none">Vision Plus Solution Provider</a>.
    </strong>
    All rights reserved.
    <!--end::Copyright-->
</footer> <!--end::Footer-->