html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#logout {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

    #logout:hover {
        color: #007bff; /* Change color on hover */
    }

.fa-sign-out-alt {
    color: #333; /* Icon color */
    margin-right: 0.5rem; /* Spacing between icon and text */
}