@model ServiceHub.Areas.HR.Models.AttendanceMachine

@{
    ViewData["Title"] = "Edit Attendance Machine";
}
<style>
    .card-margin {
        margin: 5px;
    }

    .form-group-margin {
        margin: 5px;
    }

    .mt-5 {
        margin-top: 2rem !important;
    }
</style>
<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-margin">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Update Attendance Machine</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-margin">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-margin">
                                <label asp-for="IpAddress" class="control-label"></label>
                                <input asp-for="IpAddress" class="form-control" />
                                <span asp-validation-for="IpAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group form-group-margin">
                                <label asp-for="DeviceModel" class="control-label"></label>
                                <input asp-for="DeviceModel" class="form-control" />
                                <span asp-validation-for="DeviceModel" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-margin">
                                <label asp-for="Port" class="control-label"></label>
                                <input asp-for="Port" type="number" min="1" max="65535" class="form-control" />
                                <span asp-validation-for="Port" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group form-group-margin">
                                <label asp-for="SerialNumber" class="control-label"></label>
                                <input asp-for="SerialNumber" class="form-control" />
                                <span asp-validation-for="SerialNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group form-group-margin mt-5">
                                <label asp-for="IsActive" class="form-check-label">Active</label>
                                <input type="checkbox" asp-for="IsActive" class="form-check-input" />
                                <span asp-validation-for="IsActive" class="text-danger"></span>

                                <label asp-for="IsFetchAll" class="form-check-label">Fetch All Record</label>
                                <input type="checkbox" asp-for="IsFetchAll" class="form-check-input" />
                                <span asp-validation-for="IsFetchAll" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group form-group-margin">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group form-group-margin">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>